h1{
    position:absolute;
    margin-left: -9999px;
}

.carousel-item img {
    z-index: -2;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}

.carousel, .carousel-item {
    height: 500px;
}

.carousel-caption h2 {
    text-shadow: 1px 1px #08088A, -1px -1px 0 #08088A, 1px -1px 0 #08088A, -1px 1px 0 #08088A;
}

.carousel-caption h2 a {
    font-size: 1.625rem;
}

#realisations {
    padding-top: 500px;
    margin-bottom: 15rem;
}

@media (max-width: 1260px) {
    .carousel, .carousel-item {
        height: 400px;
    }
    #realisations {
        padding-top: 400px;
    }
}

@media (max-width: 1000px) {
    .carousel, .carousel-item {
        height: 300px;
    }
    #realisations {
        padding-top: 300px;
    }
    .carousel-caption h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .carousel-item img, .carousel-item video {
        top: 50%;
        height: 300px;
        width: auto;
    }
}